{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<head>
  <style>
      body { background: black;
    background-size: cover;
    background-repeat: no-repeat;
      color: greenyellow;}

       blockquote {
    margin: 20px 0;
    padding-left: 20px;
    border-left: 5px solid #ee6e73;
    font-style: italic;
    line-height: 26px;
    font-weight: 400;
    font-size: 18px;
}

  </style>
</head>

<div class="content_box ">
        	<div class="content_title content_ct text-center"><h2>О предприятии</h2></div>
            <div class="content">
            <div class="col_w340 float_r">
                    <h3 class="text-center">Сегодня</h3>
                    <blockquote>
                    <p> РУП «Белмедпрепараты» – крупнейшее фармацевтическое предприятие страны, которое следует неизменной
миссии – обеспечить население страны эффективными,
безопасными и качественными лекарственными средствами для профилактики и лечения широкого спектра заболеваний. Значительное количество выпускаемых препаратов
относится к числу жизненно необходимых. </p></blockquote>

                </div>
<!--                <p>Nunc euismod lectus eu neque ultrices laoreet. Aenean et velit tincidunt ante porttitor facilisis. Quisque in turpis vitae enim blandit vehicula bibendum ac nibh.</p>-->
<!--                <p> Donec mollis pretium magna a dignissim. Morbi interdum cursus velit vel porttitor. In iaculis pellentesque nisl vel aliquet. Cras eget commodo diam.</p>-->
                <div class="cleaner h30"></div>
                <div class="col_w340 float_l">
                    <h3>Основной стратегией предприятия является динамичное,
прогрессивное развитие, которое направлено на: </h3>
                    <ul class="tooplate_list">
                        <li>разработку и освоение в производстве новых лекарственных средств, как генериков, так и оригинальных инновационных препаратов; </li>
                        <li>обеспечение высокого качества выпускаемой продукции;</li>
                        <li>создание новых производств в соответствии с международными требованиями GMP (Надлежащая производственная практика); </li>
                        <li>повышение конкурентоспособности выпускаемой продукции;</li>
                        <li>освоение прогрессивных энерго- и ресурсосберегающих технологий получения субстанций и готовых лекарственных форм;</li>
                        <li>освоение новых рынков сбыта продукции.</li>
                    </ul>
          		</div>


                <div class="cleaner"></div>
            </div>
</div>

{% endblock %}